.witness-slider {
  display: flex;
  margin-top: 75px;
  justify-content: space-between;
  align-items: flex-start;

  &__item {
    padding: 30px 37px 25px 37px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    line-height: 23px;

    &__title {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    &-desktop {
      @include on-mobile {
        display: none;
      }
    }
    
    &__text {
      width: 260px;
    }
  }

  &__arrow {
    margin-top: 85px;
  }
}