.green-impact-section {
  background-color: #f0eeef;
  padding-top: 39px;
  padding-bottom: 32px;
  width: 100%;

  &__icon {
    margin-bottom: 13px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;

    @include on-mobile {
      width: 282px;
      border-bottom: 1px solid #c4c4c4;
    }

    &-title {
      margin-bottom: 5px;
      color: #15005b;
      font-size: 22px;
      font-weight: 600;
    }

    &-description {
      color: #15005b;
      font-size: 14px;
    }

    &-center {
      margin-left: 45px;
      margin-right: 45px;
      padding-left: 45px;
      padding-right: 45px;
      border-left: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;

      @include on-mobile {
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__title {
    margin-top: 39px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    color: #15005b;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 32px;

    @include on-mobile {
      flex-direction: column;
    }
  }
}
