.fourth-section {
  font-family: inherit;

  &__title {
    display: flex;
    justify-content: center;
    color: #01005b;
    font-size: 32px;
    margin-top: 75px;
  }

  &__collage {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    @include on-mobile {
      height: 209px;
      object-fit: cover;
      margin-top: 38px;
    }
  }

  &__jorney {
    width: 100%;

    &__squeres {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;

      @include on-mobile {
        align-items: center;
      }

      &-arrow {
        display: none;

        @include on-mobile {
          display: inline;
        }
      }

      &__squere {
        width: 346px;
        height: 321px;
        background-color: #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include on-mobile {
          width: 288px;
          height: 288px;
        }

        &-ship {
          background-color: #f9f0e6;
        }

        &_title {
          font-size: 22px;
          color: #01005B;
          font-weight: 400;
          margin-top: 16px;
        }

        &_icon {
          width: 51px;
          &-car {
            width: 68px;
          }
        }

        &_text {
          width: 293px;
          text-align: center;
          font-size: 15px;
          font-family: inherit;
          line-height: 23px;
          margin-top: 19px;

          @include on-mobile {
            width: 210px;
          }
        }

        &-desktop {
          @include on-mobile {
            display: none;
          }
        }
      }
    }
  }

  &-button {
    display: inline;
    font-family: inherit;
    background-color: #01005b;
    width: 369px;
    height: 56px;
    font-size: 18px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  &__button-description {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 11px;
  }

  &__funs-title {
    text-align: center;
    margin-top: 74px;
    color: #01005b;
    font-size: 32px;

    @include on-mobile {
      font-size: 26px;
      margin-top: 50px;
    }
  }

  &__funs-description {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: inherit;
    line-height: 23px;
    width: 613px;
    margin-top: 65px;
    text-align: center;

    @include on-mobile {
      width: 385px;
      margin-top: 30px;
    }
  }
}
